{% extends "template.html" %}
{% block content %}

    <div class="container animated fadeIn" id="main">
        <div class="section">

            <div class="row animated fadeInRight" style="padding: 0">
                <div class="col s12 m2 green lighten-4 hvr-sweep-to-right" style="height: 200px">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons medium">local_cafe</i></h2>
                        <h5 class="center" style="font-weight: 200;">You love tea</h5>
                    </div>
                </div>

                <div class="col s12 m2 orange lighten-4 hvr-sweep-to-right" style="height: 200px">
                    <div class="icon-block">
                        <h2 class="center white-text"><i class="material-icons medium">local_dining</i></h2>
                        <h5 class="center" style="font-weight: 200;">You only drink it here</h5>

                    </div>
                </div>

                <div class="col s12 m2 hvr-sweep-to-right" style="height: 200px;background: #c4d455">
                    <div class="icon-block">
                        <h2 class="center white-text"><i class="material-icons medium">alarm</i></h2>
                        <h5 class="center" style="font-weight: 200;">7:30 Am. Craving hits</h5>

                    </div>
                </div>

                 <div class="col s12 m2 hvr-sweep-to-right" style="height: 200px;background: gainsboro;">
                        <h2 class="center white-text"><i class="material-icons medium">directions_run</i></h2>
                        <h5 class="center" style="font-weight: 200;">You run to the hawker</h5>

                </div>

                 <div class="col s12 m2 hvr-sweep-to-right" style="height: 200px;background: rosybrown">
                    <div class="icon-block">
                        <h2 class="center white-text"><i class="material-icons medium">thumb_down</i></h2>
                        <h5 class="center" style="font-weight: 200;">But alas he's not there</h5>

                    </div>
                </div>

                <div class="col s12 m2 hvr-sweep-to-right" style="height: 200px;background: orange;:hover">
                    <div class="icon-block">
                        <h5 class="center" style="font-weight: 200;">You wait for 1 hr and then come back with a frown and w/o tea</h5>

                    </div>
                </div>


            </div>
            <div class="row" style="padding: 0">
                                <div class="col s12 m4 hvr-sweep-to-right" style="height: 200px;">

                                        <h5 class="center" style="font-weight: 200;">This is where AaloMe comes in. AaloMe allows you to look up your "mobile" vendor's
                                        availability online or via SMS whichever you prefer. So no uncertainty/wasted trips.
                                        </h5>
                                    </div>

                 <div class="col s12 m2 green lighten-4 hvr-sweep-to-right" style="height: 200px">
                    <div class="icon-block">
                        <h2 class="center white-text"><i class="material-icons medium">settings_cell</i></h2>
                        <h5 class="center" style="font-weight: 200;">Just look up</h5>
                    </div>
                </div>

                <div class="col s12 m2 orange lighten-4 hvr-sweep-to-right" style="height: 200px">
                    <div class="icon-block">
                        <h2 class="center white-text"><i class="material-icons medium">airline_seat_recline_extra</i></h2>
                        <h5 class="center" style="font-weight: 200;">relax and go</h5>

                    </div>
                </div>

                <div class="col s12 m2 hvr-sweep-to-right" style="height: 200px;background: #c4d455">
                    <div class="icon-block">
                        <h2 class="center white-text"><i class="material-icons medium">mood</i></h2>
                        <h5 class="center" style="font-weight: 200;">Enjoy</h5>

                    </div>
                </div>

                <div class="col s12 m2 hvr-sweep-to-right" style="height: 200px;background: white">
                    <div class="icon-block">
                        <a href="/vendsearch"><h2 class="center green-text"><i class="material-icons medium">arrow_forward</i></h2></a>
                        <h5 class="center" style="font-weight: 200;">Get Started</h5>

                    </div>
                </div>


            </div>

        </div>
    </div>

{% endblock %}