{% extends "template.html" %}
{% block script %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {

            var msg = {{ msg|safe }};

            {
                var b = msg;
                $('#commentary').append('<h5 style="font-weight: 200;">You are subscribing to :' + b.name + '<h5>');
                $('#commentary').append('<h6 style="font-weight: 200;">Located at : ' + b.address + '<h6>');
                $('#actbtn').attr("action", "/subscribe/" + b.phone);
            }


        });

    </script>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="section">


            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m3">
                    <div class="icon-block">
                        <br>
                    </div>
                </div>

                <div class="col s12 m2 hvr-sweep-to-right" style="height: 200px;background: #c4d455">
                    <div class="icon-block">
                        <h2 class="center white-text"><i class="material-icons medium">cast</i></h2>
                        <h5 class="center" style="font-weight: 200;">Subscribe</h5>

                    </div>
                </div>


                <div class="col s12 m6">
                    <div class="icon-block center">
                        <div id="commentary">
                        </div>
                        <div class="row center" id="subscribe">
                            <form action="/subscribe" method="post">
                                <div class="input-field" >
                                    <input placeholder="{{ message }}" id="phone" type="number" class="validate center" name="phone">
                                    <input id="vendor" type="hidden" value="{{ id }}" name="vendor">
                                </div>



                                <div class="row center">
                                    <button class="btn-flat waves-effect waves-light blue darken-1 white-text"
                                            type="submit"
                                            >Send
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="icon-block">
                        <br>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}