{% extends "template.html" %}
{% block script %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {

            var msg = {{ msg|safe }};
        for (var i = 0 ; i < msg.length; i ++)
        {
             var b = msg[i];
            var icon = 'flight_takeoff';
            if(b.status)
                icon = 'flight_landed';
            var link ="/vendor/" + b.phone;
            $('#commentary').append('<a href=' + link + ' class="collection-item">' + b.name +'<span> - </span>' + '<i class="material-icons thin blue-text" style="text-align:right;">' + icon + '</a>');

        }


    });

 </script>

{% endblock %}

{% block content %}

<div class="container">
        <div class="section">


            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m3">
                    <div class="icon-block">
                        <br>
                    </div>
                </div>

                <div class="col s12 m2 hvr-sweep-to-right" style="height: 200px;background: #c4d455">
                    <div class="icon-block">
                        <h2 class="center white-text"><i class="material-icons medium">list</i></h2>
                        <h5 class="center" style="font-weight: 200;">Search results</h5>

                    </div>
                </div>


                <div class="col s12 m4">
                    <div class="icon-block center">
                        <div id="commentary" class="collection">
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="icon-block">
                        <br>
                    </div>
                </div>

            </div>
        </div>
</div>

{% endblock %}